<header>
  <div class="center-content">
    <h1>
      Welcome to <i>mat-datetimepicker!</i>
    </h1>

    <table>
      <tbody>
      <tr>
        <td>
          <img alt="npm"
               src="https://img.shields.io/github/workflow/status/kuhnroyal/mat-datetimepicker/Test?style=flat-square">
        </td>
        <td>
          <img alt="npm" src="https://img.shields.io/npm/v/@mat-datetimepicker/core?style=flat-square">
        </td>
        <td>
          <img alt="npm" src="https://img.shields.io/npm/l/@mat-datetimepicker/core.svg?style=flat-square">
        </td>
        <td>
          <img alt="npm" src="https://img.shields.io/npm/dm/@mat-datetimepicker/core.svg?style=flat-square">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</header>
