<h2>
  Date types using <a class="package-link" href="{{ link }}">{{ name }}</a>
</h2>
<form [formGroup]="group">
  <mat-form-field>
    <mat-datetimepicker-toggle
      [for]="datetimePicker"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #datetimePicker
      openOnFocus="true"
      startView="month"
      timeInterval="5"
      type="datetime"
    ></mat-datetimepicker>
    <input
      [matDatetimepicker]="datetimePicker"
      [max]="tomorrow"
      [min]="today"
      autocomplete="false"
      formControlName="dateTime"
      placeholder="DateTime"
      matInput
      required
    />
    <mat-error *ngIf="group.get('dateTime').errors?.required"
      >required
    </mat-error>
    <mat-error *ngIf="group.get('dateTime').errors?.matDatepickerMin"
      >min
    </mat-error>
    <mat-error *ngIf="group.get('dateTime').errors?.matDatepickerMax"
      >max
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-datetimepicker-toggle
      [for]="datetimeYearPicker"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #datetimeYearPicker
      multiYearSelector="true"
      openOnFocus="true"
      startView="month"
      timeInterval="5"
      type="datetime"
    ></mat-datetimepicker>
    <input
      [matDatetimepicker]="datetimeYearPicker"
      [max]="tomorrow"
      [min]="today"
      autocomplete="false"
      formControlName="dateTimeYear"
      matInput
      required
      placeholder="DateTime Year selector"
    />
    <mat-error *ngIf="group.get('dateTimeYear').errors?.required"
      >required
    </mat-error>
    <mat-error *ngIf="group.get('dateTimeYear').errors?.matDatepickerMin"
      >min
    </mat-error>
    <mat-error *ngIf="group.get('dateTimeYear').errors?.matDatepickerMax"
      >max
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-datetimepicker-toggle
      [for]="timePicker"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #timePicker
      openOnFocus="true"
      timeInterval="5"
      type="time"
    ></mat-datetimepicker>
    <input
      [matDatetimepicker]="timePicker"
      formControlName="time"
      matInput
      required
      placeholder="Time"
    />
    <mat-error *ngIf="group.get('time').errors?.required">required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-datetimepicker-toggle
      [for]="timeAMPMPicker"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #timeAMPMPicker
      openOnFocus="true"
      timeInterval="5"
      twelvehour="true"
      type="time"
    ></mat-datetimepicker>
    <input
      [matDatetimepicker]="timeAMPMPicker"
      formControlName="timeAMPM"
      matInput
      required
      placeholder="Time AM/PM"
    />
    <mat-error *ngIf="group.get('timeAMPM').errors?.required"
      >required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-datetimepicker-toggle
      [for]="datePicker"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #datePicker
      openOnFocus="true"
      type="date"
    ></mat-datetimepicker>
    <input
      [matDatetimepicker]="datePicker"
      formControlName="date"
      matInput
      required
      placeholder="Date"
    />
    <mat-error *ngIf="group.get('date').errors?.required">required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-datetimepicker-toggle
      [for]="monthPicker"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #monthPicker
      mode="portrait"
      openOnFocus="true"
      type="month"
    ></mat-datetimepicker>
    <input
      [matDatetimepicker]="monthPicker"
      formControlName="month"
      matInput
      required
      placeholder="Month"
    />
    <mat-error *ngIf="group.get('month').errors?.required">required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-datetimepicker-toggle
      [for]="yearPicker"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #yearPicker
      openOnFocus="true"
      type="year"
    ></mat-datetimepicker>
    <input
      [matDatetimepicker]="yearPicker"
      formControlName="year"
      placeholder="Year"
      matInput
      required
    />
    <mat-error *ngIf="group.get('year').errors?.required">required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      [matDatetimepicker]="minTestPicker"
      [max]="max"
      [min]="min"
      formControlName="mintest"
      placeholder="Min/Max Test"
      matInput
      required
    />
    <mat-datetimepicker-toggle
      [for]="minTestPicker"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #minTestPicker
      mode="landscape"
      openOnFocus="true"
      timeInterval="5"
      type="datetime"
    ></mat-datetimepicker>
    <mat-error *ngIf="group.get('mintest').errors?.required"
      >required
    </mat-error>
    <mat-error *ngIf="group.get('mintest').errors?.matDatepickerMin"
      >min
    </mat-error>
    <mat-error *ngIf="group.get('mintest').errors?.matDatepickerMax"
      >max
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      [matDatepickerFilter]="filter"
      [matDatetimepicker]="filterTestPicker"
      formControlName="filtertest"
      placeholder="Filter Test"
      matInput
      required
    />
    <mat-datetimepicker-toggle
      [for]="filterTestPicker"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #filterTestPicker
      mode="landscape"
      openOnFocus="true"
      timeInterval="5"
      type="datetime"
    ></mat-datetimepicker>
    <mat-error *ngIf="group.get('filtertest').errors?.required"
      >required
    </mat-error>
    <mat-error *ngIf="group.get('filtertest').errors?.matDatepickerFilter"
      >filter
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      [matDatetimepicker]="touch"
      [min]="min"
      formControlName="touch"
      placeholder="TouchUi"
      matInput
      required
    />
    <mat-datetimepicker-toggle
      [for]="touch"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #touch
      mode="portrait"
      openOnFocus="true"
      timeInterval="5"
      touchUi="true"
      type="datetime"
    ></mat-datetimepicker>
  </mat-form-field>
  <mat-form-field>
    <input
      [matDatetimepicker]="preventSame"
      formControlName="preventsame"
      placeholder="Prevent same date time"
      matInput
      required
    />
    <mat-datetimepicker-toggle
      [for]="preventSame"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #preventSame
      openOnFocus="true"
      preventSameDateTimeSelection="true"
      timeInterval="5"
      type="datetime"
    ></mat-datetimepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-datetimepicker-toggle
      [for]="datetimePickerWithActions"
      matSuffix
    ></mat-datetimepicker-toggle>
    <mat-datetimepicker
      #datetimePickerWithActions
      type="datetime"
      openOnFocus="true"
      timeInterval="5"
    >
      <mat-datetimepicker-actions></mat-datetimepicker-actions>
    </mat-datetimepicker>
    <input
      matInput
      formControlName="start"
      [matDatetimepicker]="datetimePickerWithActions"
      required
      autocomplete="false"
      placeholder="With Action Buttons"
    />
  </mat-form-field>
</form>
