<div class="mat-datetimepicker-calendar-header">
  @if (type !== 'time') {
  <div
    tabindex
    (click)="_yearClicked()"
    (keydown)="_yearClicked()"
    [class.active]="currentView === 'year' || currentView === 'multi-year'"
    class="mat-datetimepicker-calendar-header-year"
    role="button"
  >
    {{ _yearLabel }} @if (multiYearSelector || type === 'year') {
    <mat-icon>arrow_drop_down</mat-icon>
    }
  </div>
  }
  <div class="mat-datetimepicker-calendar-header-date-time">
    @if (type !== 'time' && type !== 'year') {
    <span
      tabindex
      (click)="_dateClicked()"
      (keydown)="_dateClicked()"
      [class.active]="currentView === 'month'"
      [class.not-clickable]="type === 'month'"
      class="mat-datetimepicker-calendar-header-date"
      role="button"
      >{{ _dateLabel }}</span
    >
    } @if (type.endsWith('time')) {
    <span
      [class.active]="currentView === 'clock'"
      class="mat-datetimepicker-calendar-header-time"
    >
      <span
        tabindex
        (click)="_hoursClicked()"
        (keydown)="_hoursClicked()"
        [class.active]="_clockView === 'hour'"
        class="mat-datetimepicker-calendar-header-hours"
        role="button"
        >{{ _hoursLabel }}</span
      >:<span
        tabindex
        (click)="_minutesClicked()"
        (keydown)="_minutesClicked()"
        [class.active]="_clockView === 'minute'"
        class="mat-datetimepicker-calendar-header-minutes"
        role="button"
        >{{ _minutesLabel }}</span
      >
      <br />
      @if (twelvehour) {
      <span class="mat-datetimepicker-calendar-header-ampm-container">
        <span
          tabindex
          (click)="_ampmClicked('AM')"
          (keydown)="_ampmClicked('AM')"
          [class.active]="_AMPM === 'AM'"
          class="mat-datetimepicker-calendar-header-ampm"
          >AM</span
        >/<span
          tabindex
          (click)="_ampmClicked('PM')"
          (keydown)="_ampmClicked('PM')"
          [class.active]="_AMPM === 'PM'"
          class="mat-datetimepicker-calendar-header-ampm"
          >PM</span
        >
      </span>
      }
    </span>
    }
  </div>
</div>
<div class="mat-datetimepicker-calendar-content">
  @if (currentView === 'month' || currentView === 'year' || currentView ===
  'multi-year') {
  <div class="mat-month-content">
    <div class="mat-datetimepicker-calendar-controls">
      <div
        tabindex
        (click)="_previousClicked()"
        (keydown)="_previousClicked()"
        [attr.aria-disabled]="!_previousEnabled()"
        [attr.aria-label]="_ariaLabelPrev"
        [class.disabled]="!_previousEnabled()"
        class="mat-datetimepicker-calendar-previous-button"
        role="button"
      >
        <svg height="24" viewBox="0 0 24 24" width="24">
          <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
        </svg>
      </div>
      <div
        (@slideCalendar.done)="_calendarStateDone()"
        [@slideCalendar]="_calendarState"
        class="mat-datetimepicker-calendar-period-button"
      >
        <strong>{{ _monthYearLabel }}</strong>
      </div>
      <div
        tabindex
        (click)="_nextClicked()"
        (keydown)="_nextClicked()"
        [attr.aria-disabled]="!_nextEnabled()"
        [attr.aria-label]="_ariaLabelNext"
        [class.disabled]="!_nextEnabled()"
        class="mat-datetimepicker-calendar-next-button"
        role="button"
      >
        <svg height="24" viewBox="0 0 24 24" width="24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
        </svg>
      </div>
    </div>
  </div>
  } @switch (currentView) { @case('month') {
  <mat-datetimepicker-month-view
    (_userSelection)="_userSelected()"
    (selectedChange)="_dateSelected($event)"
    [activeDate]="_activeDate"
    [dateFilter]="_dateFilterForViews"
    [selected]="selected"
    [type]="type"
  >
  </mat-datetimepicker-month-view>
  } @case('year') {
  <mat-datetimepicker-year-view
    (_userSelection)="_userSelected()"
    (selectedChange)="_monthSelected($event)"
    [activeDate]="_activeDate"
    [dateFilter]="_dateFilterForViews"
    [selected]="selected"
    [type]="type"
  >
  </mat-datetimepicker-year-view>
  } @case('multi-year') {
  <mat-datetimepicker-multi-year-view
    (_userSelection)="_userSelected()"
    (selectedChange)="_yearSelected($event)"
    [activeDate]="_activeDate"
    [dateFilter]="_dateFilterForViews"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [selected]="selected"
    [type]="type"
  >
  </mat-datetimepicker-multi-year-view>
  } @default {
  <mat-datetimepicker-clock
    (_userSelection)="_userSelected()"
    (activeDateChange)="_onActiveDateChange($event)"
    (selectedChange)="_timeSelected($event)"
    [dateFilter]="dateFilter"
    [interval]="timeInterval"
    [maxDate]="maxDate"
    [minDate]="minDate"
    [selected]="_activeDate"
    [startView]="_clockView"
    [twelvehour]="twelvehour"
  >
  </mat-datetimepicker-clock>
  } }
</div>
