/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink);
$app-warn:    mat-palette($mat-red);

// Custom Sass colors vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($theme);

// Use this import in a real project instead
//@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';
@import 'dist/core/datetimepicker/datetimepicker-theme.scss';

// Using the $theme variable from the pre-built theme you can call the theming function
@include mat-datetimepicker-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
