name: Lint
on:
  pull_request:
jobs:
  prettier:
    name: Prettier Check Codebase
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: '16'
      - run: npm ci
      - run: npm run prettier:check
  lint:
    name: Lint Codebase
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: '16'
      - run: npm ci
      - run: npm run lint
