name: Test
on:
  pull_request:
  push:
jobs:
  build:
    name: Node.js CI
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build:lib
      - run: npm test
