name: Version
on:
  push:
    branches:
      - release
    tags-ignore:
      - 'v*'
    paths-ignore:
      - .github/version.json
      - CHANGELOG.md
      - projects/core/package.json
      - projects/moment/package.json
jobs:
  version:
    name: Bump Standard-Version
    runs-on: ubuntu-20.04
    environment: NPM
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
          token: ${{ secrets.ACTION_TOKEN }}
      - run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version: '16'
      - run: npm ci
      - run: npx --no-install standard-version
      - run: git push --follow-tags origin $GITHUB_REF
